<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/views/style.css">
</head>
<body>
    <h1>
		User Info
	</h1>
	<div>
		<div>
			<div>
				<h5><%= user.username %></h5>
                <p><%= user._id %></p>
    		</div>
		</div>
	</div>
	<div>
		<input type="button" onclick="location.href='/welcomeuser';" value="Main Page" />
	</div>
</body>
</html>